{% include '_partials/intro.twig' with  {
    'title': 'Color',
    'description': 'On this page you can find all available colors.',
    'switcher': ['HEX','SCSS','Background','Color']
} only %}

<div class="styleguide-section">
    <div class="sg-h2">Primary</div>
    <div class="styleguide-item">
        <div class="styleguide-color-container">
            {% include '_partials/color.twig' with {
                'title': 'example1',
                'scss': '$example1',
                'color': '#277CB4'
            } %}

            {% include '_partials/color.twig' with {
                'title': 'example2',
                'scss': '$example2',
                'color': '#C75000'
            } %}

            {% include '_partials/color.twig' with {
                'title': 'example3',
                'scss': '$example3',
                'color': '#1E8549'
            } %}

            {% include '_partials/color.twig' with {
                'title': 'example3-light',
                'scss': '$example3-light',
                'color': '#8dd9ad'
            } %}

        </div>
    </div>
</div>

<div class="styleguide-section">
    <div class="sg-h2">Support</div>
    <div class="styleguide-item">
        <div class="styleguide-color-container">
            {% include '_partials/color.twig' with {
                'title': 'support1',
                'scss': '$support1',
                'color': '#8e44ad'
            } %}

            {% include '_partials/color.twig' with {
                'title': 'support2',
                'scss': '$support2',
                'color': '#c0392b'
            } %}
        </div>
    </div>
</div>

<div class="styleguide-section">
    <div class="sg-h2">Neutral</div>
    <div class="styleguide-item">
        <div class="styleguide-color-container">
            {% include '_partials/color.twig' with {
                'title': 'neutral1',
                'scss': '$neutral1',
                'color': '#34495e'
            } %}

            {% include '_partials/color.twig' with {
                'title': 'neutral2',
                'scss': '$neutral2',
                'color': '#bdc3c7'
            } %}
        </div>
    </div>
</div>
