// Normalize
@import "3rdparty/normalize"; // Repository seems broken when they moved from Github to Gitlab.

// Settings
@import "tools/variables/illusion-includes";
@import "tools/tools";

// Base
@import "base/root";
@import "base/body";
@import "base/page";

// Layout
@import "layout/center";
@import "layout/cluster";
@import "layout/contain";
@import "layout/flag-object";
@import "layout/grid";
@import "layout/has-sidebar";
@import "layout/max";
@import "layout/stack";
@import "layout/switcher";

// Atoms
@import "atoms/image";

// Molecules
@import "molecules/button";
@import "molecules/card";
@import "molecules/footer";
@import "molecules/form";
@import "molecules/header";
@import "molecules/heading";
@import "molecules/list";
@import "molecules/main";
@import "molecules/pagination";
@import "molecules/skiplink";

// Shame
@import "shame";

// Load utilities classes last so they win over other classes
// without an !important
@import "utilities/background";
@import "utilities/color";
@import "utilities/margin";
@import "utilities/padding";
@import "utilities/position";
@import "utilities/ratio";
@import "utilities/reduced-motion";
@import "utilities/typography";
@import "utilities/visibility";
@import "utilities/width";

.table {
  border-collapse: collapse;
  width: 100%;

  th, td {
    border: 1px solid #ccc;
    padding: 4px;
    text-align: left;
  }
}
