/* ==========================================================================
   Center
   ========================================================================== */

.center {
  max-width: replaceunit($content-width);
  margin-right: auto;
  margin-left: auto;
}

.center--size\:xs {
  max-width: replaceunit($narrow-width);
}
