/* ==========================================================================
   Sidebar
   ========================================================================== */

.has-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  @include ms(margin-bottom, $illusion-ms-grid, -1);
  @include ms(margin-left, $illusion-ms-grid, -1);
}

.has-sidebar > * > * {
  @include ms(margin-bottom, $illusion-ms-grid-item, 1);
  @include ms(margin-left, $illusion-ms-grid-item, 1);
  flex-basis: $grid-item-width;
  flex-grow: 1;

  &:empty {
    margin-bottom: 0;
    visibility: hidden;
  }
}

.has-sidebar--left > * > *:last-child,
.has-sidebar--right > * > *:first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: $sidebar-width;
}

.has-sidebar--both > * > *:nth-child(2) {
  flex-grow: 999;

  @include breakpoint($narrow-width) {
    min-width: $sidebar-width * 2;
  }
}
