/* ==========================================================================
   Max width classes based on $site-width
   ========================================================================== */

.max\:3 {
  @include maxWidth(3);
}

.max\:4 {
  @include maxWidth(4);
}

.max\:5 {
  @include maxWidth(5);
}

.max\:6 {
  @include maxWidth(6);
}

.max\:8 {
  @include maxWidth(8);
}

.max\:10 {
  @include maxWidth(10);
}

.max\:narrow {
  max-width: $narrow-width;
}

.max\:content {
  max-width: $content-width;
}

.max--center {
  margin-right: auto;
  margin-left: auto;
}
