/* ==========================================================================
   Max width classes based on $site-width
   ========================================================================== */

.max\:3 {
  max-width: replaceunit(calculatewidth(3));
}

.max\:4 {
  max-width: replaceunit(calculatewidth(4));
}

.max\:5 {
  max-width: replaceunit(calculatewidth(5));
}

.max\:6 {
  max-width: replaceunit(calculatewidth(6));
}

.max\:8 {
  max-width: replaceunit(calculatewidth(8));
}

.max\:10 {
  max-width: replaceunit(calculatewidth(10));
}

.max\:narrow {
  max-width: replaceunit($narrow-width);
}

.max\:content {
  max-width: replaceunit($content-width);
}

.max--center {
  margin-right: auto;
  margin-left: auto;
}
