{% include '_partials/intro.twig' with  {
    'title': 'Form',
    'description': 'Basic form elements to use.'
} only %}

<div class="styleguide-section">
    <div class="sg-h2">Fields</div>

    {% include '_partials/item.twig' with {
        'title': 'Form group',
        'description': 'Group form elements like the label, input, hints etc. together.',
        'markup': '<div class="form__group"><em>Form elements here</em></div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Form field',
        'description': '',
        'markup': '<div class="form__group">
		<label class="form__label" for="input-text-example">Field label</label>
		<input class="form__input" id="input-text-example" name="input-text-example" type="text" />
	</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Select',
        'description': '',
        'markup': '<div class="form__group">
	<label class="form__label" for="select-example">Field label</label>
	<div class="custom-select">
		<select id="example3" name="select-example">
			<option value="option1">Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Text area',
        'description': '',
        'markup': '<div class="form__group">
		<label class="form__label" for="textarea-example">Field label</label>
		<div class="form__hint" id="textarea-example-hint">Explanation for textarea</div>
		<textarea class="form__input" rows="6" id="textarea-example" name="textarea-example" aria-describedby="textarea-example-hint"></textarea>
	</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Checkboxes',
        'description': '',
        'markup': '<div class="form__group">
	<fieldset aria-describedby="checkbox-example-hint">
		<legend class="heading:xs">Checkbox options</legend>
		<div class="form__hint" id="checkbox-example-hint">Explanation for options</div>
		<div class="multiple-choice">
			<input id="checkbox-example-1" name="checkbox-example" type="checkbox" value="option1">
			<label for="checkbox-example-1">Option 1</label>
		</div>
		<div class="multiple-choice">
			<input id="checkbox-example-2" name="checkbox-example" type="checkbox" value="option2">
			<label for="checkbox-example-2">Option 2</label>
		</div>
		<div class="multiple-choice">
			<input id="checkbox-example-3" name="checkbox-example" type="checkbox" value="option3">
			<label for="checkbox-example-3">Option 3</label>
		</div>
	</fieldset>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Radios',
        'description': '',
        'markup': '<div class="form__group">
	<fieldset aria-describedby="radio-example-hint">
		<legend class="heading:xs">Radio options</legend>
		<span class="form__hint" id="radio-example-hint">Explanation for options</span>
		<div class="multiple-choice">
			<input id="radio-example-1" name="radio-example" type="radio" value="option1">
			<label for="radio-example-1">Option 1</label>
		</div>
		<div class="multiple-choice">
			<input id="radio-example-2" name="radio-example" type="radio" value="option2">
			<label for="radio-example-2">Option 2</label>
		</div>
		<div class="multiple-choice">
			<input id="radio-example-3" name="radio-example" type="radio" value="option3">
			<label for="radio-example-3">Option 3</label>
		</div>
	</fieldset>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Input group',
        'description': '',
        'markup': '<fieldset class="form__group" aria-describedby="group-example-hint">
		<legend class="heading:xs">Input group</legend>
		<div class="form__hint" id="group-example-hint">Explanation</div>
		<div class="form__input-group">
			<input class="form__input" id="group-example-input" name="group-example-input" type="text" />
			<button class="button" type="button">Button</button>
		</div>
	</fieldset>'
    } only %}
</div>


<div class="styleguide-section">
    <div class="sg-h2">Errors</div>

    {% include '_partials/item.twig' with {
    	'title': 'Form field error',
    	'description': '',
    	'markup': '<div class="form__group form__group--error">
    	<label class="form__label" for="input-error-example">Field label</label>
    	<span id="passport-issued-error" class="form__error">
          <span class="visually:hidden">Error:</span> Some error message
        </span>
    	<input class="form__input" id="input-error-example" name="input-text-example" type="text" aria-describedby="national-insurance-number-error" />
    </div>'
    } only %}
</div>
