{% include 'styleguide/_partials/intro.twig' with  {
    'title': 'Icons'
} only %}


<div class="styleguide-section">
    <div class="sg-h2">Arrows</div>
    <div class="styleguide-item">
        <div class="styleguide-icon-container">
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Arrow'
            } only %}
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Arrow right'
            } only %}
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Arrow left'
            } only %}
        </div>
    </div>
</div>

<div class="styleguide-section">
    <div class="sg-h2">Misc</div>
    <div class="styleguide-item">
        <div class="styleguide-icon-container">
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Albatros'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Architect'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Birdie'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Check'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Calendar'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Cross'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Conversation'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Email'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Eye'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Eye no'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Eagle'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Female'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Golfer'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Golf player'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Heart'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Heart solid'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Holes'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Meters'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Male'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Move'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'NGF mono'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Par'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Phone'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Profile'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Rates'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Rating'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Search'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Slope'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Star'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Star half'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Star open'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Warning'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Website'
            } only %}
        </div>
    </div>
</div>

<div class="styleguide-section">
    <div class="sg-h2">Amenities</div>
    <div class="styleguide-item">
        <div class="styleguide-icon-container">
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Driving range',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Driving range verlicht',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Putting green',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Putting green verlicht',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Chipping green',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Chipping green verlicht',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Oefenbunker',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Oefenbunker verlicht',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Holes 9',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Holes 18',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Holes 27',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Holes 36',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Holes 45',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Par 3/4',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Par 3/4 verlicht',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Golflessen',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Trolleys',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Buggys',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Handicart',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Clubs te leen',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Clubs te huur',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Shop',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Regrip',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Waterpunten',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Toiletpunten',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Kleedkamer',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Spa',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Zwembad',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Warme drank',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Warme drank togo',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Koude drank',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Koude drank togo',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Lunch',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Lunch togo',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Diner',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Borrelhapjes',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Gastvrij',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Overnachten',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Oplaadpunt elektrische auto',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Gratis parkeren',
                'folder': 'amenities/'
            } only %}

            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Betaald parkeren',
                'folder': 'amenities/'
            } only %}
        </div>
    </div>
</div>

<div class="styleguide-section">
    <div class="sg-h2">Social</div>
    <div class="styleguide-item">
        <div class="styleguide-icon-container">
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Download round',
                'folder': 'social/'
            } only %}
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Email round',
                'folder': 'social/'
            } only %}
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Facebook round',
                'folder': 'social/'
            } only %}
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Flickr round',
                'folder': 'social/'
            } only %}
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Instagram round',
                'folder': 'social/'
            } only %}
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Linkedin round',
                'folder': 'social/'
            } only %}
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Twitter round',
                'folder': 'social/'
            } only %}
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Whatsapp round',
                'folder': 'social/'
            } only %}
            {% include 'styleguide/_partials/icon.twig' with {
                'title': 'Youtube round',
                'folder': 'social/'
            } only %}
        </div>
    </div>
</div>

<div class="styleguide-section">
    <div class="sg-h2">Sizes</div>
    {% include 'styleguide/_partials/item.twig' with {
        'title': 'Size 18',
        'description': '',
        'markup': '<div class="icon-size:18"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.342 2.05l5.569 5.569-6.808 1.946a1.999 1.999 0 00-1.417 2.269l.003.046.828 4.14c-.027-.137-.082.113 0 0l-3.48 4.789c-.26.346-.4.767-.4 1.2 0 1.097.903 2 2 2 .649 0 1.259-.316 1.634-.846l3.49-4.796c.03-.043.06-.087.088-.131l-.726 2.471a2.004 2.004 0 00-.095.61c0 1.097.903 2 2 2 .903 0 1.698-.611 1.932-1.482l.831-2.823a4.015 4.015 0 00-.638-3.524l-2.155-2.873 4.202-1.201a2.004 2.004 0 001.375-2.476 2 2 0 00-1.267-1.336L11.427.721a1.35 1.35 0 00-.629-.559c-.431-.197-1.033-.24-1.636-.049-.603.192-1.071.573-1.309.982-.201.345-.252.714-.145 1.052.108.338.362.611.724.778.431.197 1.033.239 1.636.048.575-.182 1.026-.536 1.274-.923zm-1.668 9.654l-.003-.04a.995.995 0 01.705-1.137l7.002-2.001c.527-.15 1.085.16 1.236.687v.001a1.001 1.001 0 01-.688 1.238l-4.901 1.401a.498.498 0 00-.262.78l2.589 3.454c.566.757.743 1.738.479 2.645l-.836 2.84a1.002 1.002 0 01-.967.745 1.005 1.005 0 01-.951-1.309l.836-2.843a1.008 1.008 0 00-.159-.879l-.475-.634a.5.5 0 00-.884.173 2.996 2.996 0 01-.449.963l-3.49 4.795a1 1 0 11-1.617-1.176l3.487-4.799c.164-.225.227-.511.172-.785l-.824-4.119zM6.153 6.487c0 1.372 1.128 2.5 2.5 2.5 1.371 0 2.5-1.128 2.5-2.5 0-1.371-1.129-2.5-2.5-2.5a2.512 2.512 0 00-2.5 2.5zm1 0c0-.822.677-1.5 1.5-1.5.822 0 1.5.678 1.5 1.5 0 .823-.678 1.5-1.5 1.5-.823 0-1.5-.677-1.5-1.5zm1.509-4.642c-.036-.114.032-.231.121-.342.15-.188.392-.345.681-.436a1.42 1.42 0 01.808-.036c.137.04.26.096.296.21.036.114-.031.231-.121.343-.15.188-.392.345-.681.436a1.429 1.429 0 01-.808.036c-.137-.04-.26-.097-.296-.211z"></path></svg></div>',
        'class': 'icon-size:18'
    } only %}
    {% include 'styleguide/_partials/item.twig' with {
        'title': 'Size 24',
        'description': '',
        'markup': '<div class="icon-size:24"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.342 2.05l5.569 5.569-6.808 1.946a1.999 1.999 0 00-1.417 2.269l.003.046.828 4.14c-.027-.137-.082.113 0 0l-3.48 4.789c-.26.346-.4.767-.4 1.2 0 1.097.903 2 2 2 .649 0 1.259-.316 1.634-.846l3.49-4.796c.03-.043.06-.087.088-.131l-.726 2.471a2.004 2.004 0 00-.095.61c0 1.097.903 2 2 2 .903 0 1.698-.611 1.932-1.482l.831-2.823a4.015 4.015 0 00-.638-3.524l-2.155-2.873 4.202-1.201a2.004 2.004 0 001.375-2.476 2 2 0 00-1.267-1.336L11.427.721a1.35 1.35 0 00-.629-.559c-.431-.197-1.033-.24-1.636-.049-.603.192-1.071.573-1.309.982-.201.345-.252.714-.145 1.052.108.338.362.611.724.778.431.197 1.033.239 1.636.048.575-.182 1.026-.536 1.274-.923zm-1.668 9.654l-.003-.04a.995.995 0 01.705-1.137l7.002-2.001c.527-.15 1.085.16 1.236.687v.001a1.001 1.001 0 01-.688 1.238l-4.901 1.401a.498.498 0 00-.262.78l2.589 3.454c.566.757.743 1.738.479 2.645l-.836 2.84a1.002 1.002 0 01-.967.745 1.005 1.005 0 01-.951-1.309l.836-2.843a1.008 1.008 0 00-.159-.879l-.475-.634a.5.5 0 00-.884.173 2.996 2.996 0 01-.449.963l-3.49 4.795a1 1 0 11-1.617-1.176l3.487-4.799c.164-.225.227-.511.172-.785l-.824-4.119zM6.153 6.487c0 1.372 1.128 2.5 2.5 2.5 1.371 0 2.5-1.128 2.5-2.5 0-1.371-1.129-2.5-2.5-2.5a2.512 2.512 0 00-2.5 2.5zm1 0c0-.822.677-1.5 1.5-1.5.822 0 1.5.678 1.5 1.5 0 .823-.678 1.5-1.5 1.5-.823 0-1.5-.677-1.5-1.5zm1.509-4.642c-.036-.114.032-.231.121-.342.15-.188.392-.345.681-.436a1.42 1.42 0 01.808-.036c.137.04.26.096.296.21.036.114-.031.231-.121.343-.15.188-.392.345-.681.436a1.429 1.429 0 01-.808.036c-.137-.04-.26-.097-.296-.211z"></path></svg></div>',
        'class': 'icon-size:24'
    } only %}
    {% include 'styleguide/_partials/item.twig' with {
        'title': 'Size 40',
        'description': '',
        'markup': '<div class="icon-size:40"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.342 2.05l5.569 5.569-6.808 1.946a1.999 1.999 0 00-1.417 2.269l.003.046.828 4.14c-.027-.137-.082.113 0 0l-3.48 4.789c-.26.346-.4.767-.4 1.2 0 1.097.903 2 2 2 .649 0 1.259-.316 1.634-.846l3.49-4.796c.03-.043.06-.087.088-.131l-.726 2.471a2.004 2.004 0 00-.095.61c0 1.097.903 2 2 2 .903 0 1.698-.611 1.932-1.482l.831-2.823a4.015 4.015 0 00-.638-3.524l-2.155-2.873 4.202-1.201a2.004 2.004 0 001.375-2.476 2 2 0 00-1.267-1.336L11.427.721a1.35 1.35 0 00-.629-.559c-.431-.197-1.033-.24-1.636-.049-.603.192-1.071.573-1.309.982-.201.345-.252.714-.145 1.052.108.338.362.611.724.778.431.197 1.033.239 1.636.048.575-.182 1.026-.536 1.274-.923zm-1.668 9.654l-.003-.04a.995.995 0 01.705-1.137l7.002-2.001c.527-.15 1.085.16 1.236.687v.001a1.001 1.001 0 01-.688 1.238l-4.901 1.401a.498.498 0 00-.262.78l2.589 3.454c.566.757.743 1.738.479 2.645l-.836 2.84a1.002 1.002 0 01-.967.745 1.005 1.005 0 01-.951-1.309l.836-2.843a1.008 1.008 0 00-.159-.879l-.475-.634a.5.5 0 00-.884.173 2.996 2.996 0 01-.449.963l-3.49 4.795a1 1 0 11-1.617-1.176l3.487-4.799c.164-.225.227-.511.172-.785l-.824-4.119zM6.153 6.487c0 1.372 1.128 2.5 2.5 2.5 1.371 0 2.5-1.128 2.5-2.5 0-1.371-1.129-2.5-2.5-2.5a2.512 2.512 0 00-2.5 2.5zm1 0c0-.822.677-1.5 1.5-1.5.822 0 1.5.678 1.5 1.5 0 .823-.678 1.5-1.5 1.5-.823 0-1.5-.677-1.5-1.5zm1.509-4.642c-.036-.114.032-.231.121-.342.15-.188.392-.345.681-.436a1.42 1.42 0 01.808-.036c.137.04.26.096.296.21.036.114-.031.231-.121.343-.15.188-.392.345-.681.436a1.429 1.429 0 01-.808.036c-.137-.04-.26-.097-.296-.211z"></path></svg></div>',
        'class': 'icon-size:40'
    } only %}
    {% include 'styleguide/_partials/item.twig' with {
        'title': 'Size 72',
        'description': '',
        'markup': '<div class="icon-size:72"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.342 2.05l5.569 5.569-6.808 1.946a1.999 1.999 0 00-1.417 2.269l.003.046.828 4.14c-.027-.137-.082.113 0 0l-3.48 4.789c-.26.346-.4.767-.4 1.2 0 1.097.903 2 2 2 .649 0 1.259-.316 1.634-.846l3.49-4.796c.03-.043.06-.087.088-.131l-.726 2.471a2.004 2.004 0 00-.095.61c0 1.097.903 2 2 2 .903 0 1.698-.611 1.932-1.482l.831-2.823a4.015 4.015 0 00-.638-3.524l-2.155-2.873 4.202-1.201a2.004 2.004 0 001.375-2.476 2 2 0 00-1.267-1.336L11.427.721a1.35 1.35 0 00-.629-.559c-.431-.197-1.033-.24-1.636-.049-.603.192-1.071.573-1.309.982-.201.345-.252.714-.145 1.052.108.338.362.611.724.778.431.197 1.033.239 1.636.048.575-.182 1.026-.536 1.274-.923zm-1.668 9.654l-.003-.04a.995.995 0 01.705-1.137l7.002-2.001c.527-.15 1.085.16 1.236.687v.001a1.001 1.001 0 01-.688 1.238l-4.901 1.401a.498.498 0 00-.262.78l2.589 3.454c.566.757.743 1.738.479 2.645l-.836 2.84a1.002 1.002 0 01-.967.745 1.005 1.005 0 01-.951-1.309l.836-2.843a1.008 1.008 0 00-.159-.879l-.475-.634a.5.5 0 00-.884.173 2.996 2.996 0 01-.449.963l-3.49 4.795a1 1 0 11-1.617-1.176l3.487-4.799c.164-.225.227-.511.172-.785l-.824-4.119zM6.153 6.487c0 1.372 1.128 2.5 2.5 2.5 1.371 0 2.5-1.128 2.5-2.5 0-1.371-1.129-2.5-2.5-2.5a2.512 2.512 0 00-2.5 2.5zm1 0c0-.822.677-1.5 1.5-1.5.822 0 1.5.678 1.5 1.5 0 .823-.678 1.5-1.5 1.5-.823 0-1.5-.677-1.5-1.5zm1.509-4.642c-.036-.114.032-.231.121-.342.15-.188.392-.345.681-.436a1.42 1.42 0 01.808-.036c.137.04.26.096.296.21.036.114-.031.231-.121.343-.15.188-.392.345-.681.436a1.429 1.429 0 01-.808.036c-.137-.04-.26-.097-.296-.211z"></path></svg></div>',
        'class': 'icon-size:72'
    } only %}
</div>


<div class="styleguide-section">
    <div class="sg-h2">Emoji</div>
    {% include 'styleguide/_partials/item.twig' with {
        'title': 'Emoji',
        'description': 'default size for emoji\'s',
        'markup': '<div class="emoji">👍</div>',
        'class': 'emoji'
    } only %}

    {% include 'styleguide/_partials/item.twig' with {
        'title': 'Emoji XL',
        'description': 'XL size for emoji\'s',
        'markup': '<div class="emoji:xl">👍</div>',
        'class': 'emoji'
    } only %}
</div>
