{% include '_partials/intro.twig' with  {
    'title': 'Layout',
    'description': 'In this "layout" section you will find everything you need to structurally layout each page. All these elements are only styled structural so no borders, backgrounds or other properties will be found here.',
    'notices': [
        'Magenta backgrounds and borders are added to the styleguide only to display the otherwise invisible containers.',
        'The "Grid" in the top bar isn\'t pixel perfect and only "works" when the max-site width is reached. This is by design since we rely on an elements content to define it\'s width.'
    ]
} only %}

<div class="styleguide-section">
    <div class="sg-h2">Stack</div>

    {% include '_partials/item.twig' with {
        'title': 'Stack',
        'description': '<p>All direct children in this container are stacked with their own top-margin (may be different for different items).</p>This is the main class to use to space elements from each other.<p></p>',
        'markup': '<div class="stack">
    <div>Example child</div>
    <div>Example child</div>
    <div>Example child</div>
    <div>Example child</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack | scale: -4',
        'description': '<p>Using Modular Scale -4 for margins.</p>',
        'markup': '<div class="stack stack--ms:-4">
	<div>Example child</div>
	<div>Example child</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack | scale: -3',
        'description': '<p>Using Modular Scale -3 for margins.</p>',
        'markup': '<div class="stack stack--ms:-3">
	<div>Example child</div>
	<div>Example child</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack | scale: -2',
        'description': '<p>Using Modular Scale -2 for margins.</p>',
        'markup': '<div class="stack stack--ms:-2">
	<div>Example child</div>
	<div>Example child</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack | scale: -1',
        'description': '<p>Using Modular Scale -1 for margins.</p>',
        'markup': '<div class="stack stack--ms:-1">
	<div>Example child</div>
	<div>Example child</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack | scale: 0',
        'description': '<p>Using Modular Scale 0 for margins.</p>',
        'markup': '<div class="stack stack--ms:0">
	<div>Example child</div>
	<div>Example child</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack | scale: 1',
        'description': '<p>Using Modular Scale 1 for margins.</p>',
        'markup': '<div class="stack stack--ms:1">
	<div>Example child</div>
	<div>Example child</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack | scale: 2',
        'description': '<p>Using Modular Scale 2 for margins.</p>',
        'markup': '<div class="stack stack--ms:2">
	<div>Example child</div>
	<div>Example child</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack | scale: 3',
        'description': '<p>Using Modular Scale 3 for margins.</p>',
        'markup': '<div class="stack stack--ms:3">
	<div>Example child</div>
	<div>Example child</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack | scale: 4',
        'description': '<p>Using Modular Scale 4 for margins.</p>',
        'markup': '<div class="stack stack--ms:4">
	<div>Example child</div>
	<div>Example child</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack | scale: none',
        'description': '<p>Remove margins</p>',
        'markup': '<div class="stack stack--ms:none">
	<div>Example child</div>
	<div>Example child</div>
	<div>Example child</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack center',
        'description': '<p>All direct children in this container are centered using the
		<code>$content-width</code> variable.</p>
	<p><strong>Note:</strong> Some elements can\'t be used as direct children (for example any <code>inline</code>,
		<code>inline-block</code> or <code>inline-flex</code> element, a <code>.flag-object</code>, a
		<code>.horizontal-list</code>) because they won\'t center on larger screens. If you need one of these elements simply wrap it in a
		<code>div</code> for example.</p>',
        'markup': '<div class="stack stack--center">
	<div>Example child</div>
	<div>Example child</div>
	<div>Example child</div>
	<div class="flag-object">
		<div class="flag-object__body">Note: This element is failing on desktop. Wrap it in a div for example.</div>
	</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack center > narrow',
        'description': '<p>Makes the element as wide as the <code>$narrow-width</code> variable. Use as child of a
		<code>.stack.stack--center</code> container.</p>',
        'markup': '<div class="narrow">...</div>',
        'wrapInside': '<div class="stack stack--center">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack center > wider',
        'description': '<p>Makes the element as wide as the <code>$wider-width</code> variable. Use as child of a
		<code>.stack.stack--center</code> container.</p>',
        'markup': '<div class="wider">...</div>',
        'wrapInside': '<div class="stack stack--center">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack center > widest',
        'description': '<p>Makes the element as wide as the <code>$site-width</code> variable. Use as child of a
		<code>.stack.stack--center</code> container.</p>',
        'markup': '<div class="widest">...</div>',
        'wrapInside': '<div class="stack stack--center">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Stack center > full-width',
        'description': '<p>Makes the element as wide as the parent container. Use as child of a
		<code>.stack.stack--center</code> container.</p>
		<p>Use this element to span the entire site and add background colors to this div to create colored sections.</p>',
        'markup': '<div class="full-width">...</div>',
        'wrapInside': '<div class="stack stack--center">...</div>'
    } only %}

</div>


<div class="styleguide-section">
    <div class="sg-h2">Center</div>
    {% include '_partials/item.twig' with {
        'title': 'Center',
        'description': '<p>Self centering element.</p>',
        'markup': '<div class="center">Example</div>'
    } only %}
    {% include '_partials/item.twig' with {
        'title': 'Center: size XS',
        'description': '<p>Small self centering element.</p>',
        'markup': '<div class="center center--size:xs">Example</div>'
    } only %}
</div>


<div class="styleguide-section">
    <div class="sg-h2">Grid</div>
    {% include '_partials/item.twig' with {
        'title': 'Grid',
        'description': '<p>Children will stay neatly in a self-growing grid. All children are at least <code>$grid-item-width</code> wide.</p><p>Falls back to flexbox on older browsers.</p>',
        'markup': '<div class="grid">
	<div class="inner">
		<div>Grid item</div>
		<div>Grid item</div>
		<div>Grid item</div>
	</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Grid S',
        'description': '<p>All children are at least <code>$grid-item-width--s</code> wide.</p>',
        'markup': '<div class="grid grid--size:s">
	<div class="inner">
		<div>Grid item</div>
		<div>Grid item</div>
		<div>Grid item</div>
	</div>
</div>',
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Grid L',
        'description': '<p>All children are at least <code>$grid-item-width--l</code> wide.</p>',
        'markup': '<div class="grid grid--size:l">
	<div class="inner">
		<div>Grid item</div>
		<div>Grid item</div>
		<div>Grid item</div>
	</div>
</div>',
    } only %}
</div>


<div class="styleguide-section">
    <div class="sg-h2">Switcher</div>
    {% include '_partials/item.twig' with {
        'title': 'Switcher',
        'description': '<p>Stacked containers on a small screen and aligned when all children are at least <code>$grid-item-width</code> wide.</p>',
        'markup': '<div class="switcher">
	<div class="inner">
		<div>Switcher item</div>
		<div>Switcher item</div>
		<div>Switcher item</div>
		<div>Switcher item</div>
	</div>
</div>',
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Switcher 1:2',
        'description': '<p>Stacked containers on a small screen and aligned in a 1/2 ratio when both children are at least <code>$grid-item-width</code> wide.</p>',
        'markup': '<div class="switcher switcher--1:2">
	<div class="inner">
		<div>Switcher item</div>
		<div>Switcher item</div>
	</div>
</div>',
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Switcher 2:1',
        'description': '<p>Stacked containers on a small screen and aligned in a 2/1 ratio when both children are at least <code>$grid-item-width</code> wide.</p>',
        'markup': '<div class="switcher switcher--2:1">
	<div class="inner">
		<div>Switcher item</div>
		<div>Switcher item</div>
	</div>
</div>',
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Switcher: size S',
        'description': '<p>A small size switcher.</p>',
        'markup': '<div class="switcher switcher--size:s">
	<div class="inner">
		<div>Switcher item</div>
		<div>Switcher item</div>
		<div>Switcher item</div>
		<div>Switcher item</div>
	</div>
</div>',
    } only %}
</div>


<div class="styleguide-section">
    <div class="sg-h2">Has sidebar</div>
    {% include '_partials/item.twig' with {
        'title': 'Has left sidebar.',
        'description': '<p>A left sidebar. Sidebar has a "fixed" width which differs it from the switcher.</p>',
        'markup': '<div class="has-sidebar has-sidebar--left">
	<div class="inner">
		<div>The sidebar</div>
		<div>The content</div>
	</div>
</div>',
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Has right sidebar.',
        'description': '<p>A right sidebar. Sidebar has a "fixed" width which differs it from the switcher.</p>',
        'markup': '<div class="has-sidebar has-sidebar--right">
	<div class="inner">
		<div>The content</div>
		<div>The sidebar</div>
	</div>
</div>',
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Has left & right sidebar.',
        'description': '<p>Left & right sidebar. Sidebars have "fixed" widths which differs it from the switcher.</p>',
        'markup': '<div class="has-sidebar has-sidebar--both">
	<div class="inner">
		<div>The left sidebar</div>
		<div>The content</div>
		<div>The right sidebar</div>
	</div>
</div>',
    } only %}
</div>


<div class="styleguide-section">
    <div class="sg-h2">Flag object</div>
    {% include '_partials/item.twig' with {
        'title': 'Flag object',
        'description': '<p>Automatically sizing flag-object. The <code>body</code> is fluid and <code>aside</code> is fixed.</p><p>Make sure you define a width for fluid elements (like images) inside an <code>aside</code> to avoid weird growing flag objects</p>',
        'markup': '<div class="flag-object">
	<div class="flag-object__aside">Aside</div>
	<div class="flag-object__body">Body element <br/> Multiline</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Flag object | scale: -2',
        'description': 'Smaller spacing between elements',
        'markup': '<div class="flag-object flag-object--scale:-2">
	<div class="flag-object__aside">Aside</div>
	<div class="flag-object__body">Body element</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Flag object | scale: -3',
        'description': 'Smaller spacing between elements',
        'markup': '<div class="flag-object flag-object--scale:-3">
	<div class="flag-object__aside">Aside</div>
	<div class="flag-object__body">Body element</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Top aligned flag object',
        'description': '<p>Add this modifier to vertically align all children on top instead of middle</p>',
        'markup': '<div class="flag-object flag-object--top">
	<div class="flag-object__aside">Aside</div>
	<div class="flag-object__body">Body element <br/> Multiline</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Bottom aligned flag object',
        'description': '<p>Add this modifier to vertically align all children on bottom instead of middle</p>',
        'markup': '<div class="flag-object flag-object--bottom">
	<div class="flag-object__aside">Aside</div>
	<div class="flag-object__body">Body element <br/> Multiline</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'No wrap flag object',
        'description': '<p>Add this modifier to keep everything aligned instead of stacked even on smaller screens</p>',
        'markup': '<div class="flag-object flag-object--nowrap">
	<div class="flag-object__aside">Aside</div>
	<div class="flag-object__body">Body</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Inline flag object',
        'description': '<p>Add this modifier to get an inline-flex flag-object</p>',
        'markup': '<div class="flag-object flag-object--inline">
	<div class="flag-object__aside">Aside</div>
	<div class="flag-object__body">Body</div>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Flag object with fill instead of body',
        'description': '<p>Removes the 50% min-with from the "flexing" element</p>',
        'markup': '<div class="flag-object">
	<div class="flag-object__aside">Aside</div>
	<div class="flag-object__fill">This is the flag-object__fill element. This item will just grow and shrink indefinitely</div>
</div>'
    } only %}
</div>


<div class="styleguide-section">
    <div class="sg-h2">Cluster</div>
    {% include '_partials/item.twig' with {
        'title': 'Cluster',
        'description': '<p>A cluster of elements evenly spaced both vertical as horizontal.</p><p>The cluster doesn\'t care what you throw at it. Just remember that it is a flexbox so each row is as tall as the tallest child.</p>',
        'markup': '<div class="cluster">
	<div>Cluster item</div>
	<div>Cluster item</div>
	<a class="button" href="#">Cluster item</a>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Cluster XXS',
        'description': '<p>Cluster with XXS sized gaps.</p>',
        'markup': '<div class="cluster:xxs">
	<div>Cluster item</div>
	<div>Cluster item</div>
	<a class="button" href="#">Cluster item</a>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Cluster XS',
        'description': '<p>Cluster with XS sized gaps.</p>',
        'markup': '<div class="cluster:xs">
	<div>Cluster item</div>
	<div>Cluster item</div>
	<a class="button" href="#">Cluster item</a>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Cluster S',
        'description': '<p>Cluster with S sized gaps.</p>',
        'markup': '<div class="cluster:s">
	<div>Cluster item</div>
	<div>Cluster item</div>
	<a class="button" href="#">Cluster item</a>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Cluster L',
        'description': '<p>Cluster with L sized gaps.</p>',
        'markup': '<div class="cluster:l">
	<div>Cluster item</div>
	<div>Cluster item</div>
	<a class="button" href="#">Cluster item</a>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Cluster nowrap',
        'description': '<p>Doesn\'t wrap items</p>',
        'markup': '<div class="cluster cluster--nowrap">
	<div>Cluster item</div>
	<div>Cluster item</div>
	<a class="button" href="#">Cluster item</a>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Cluster inline',
        'description': '<p>An inline-flex cluster.</p>',
        'markup': '<div class="cluster cluster--inline">
	<div>Cluster item</div>
	<div>Cluster item</div>
	<a class="button" href="#">Cluster item</a>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Cluster fill',
        'description': '<p>A cluster dividing children between the width of the parent.</p>',
        'markup': '<div class="cluster cluster--fill">
	<div>Cluster item</div>
	<div>Cluster item</div>
	<a class="button" href="#">Cluster item</a>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Cluster stretch',
        'description': '<p>A cluster stretching children between the width of the parent.</p>',
        'markup': '<div class="cluster cluster--stretch">
	<div>Cluster item</div>
	<div>Cluster item</div>
	<a class="button" href="#">Cluster item</a>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Cluster center',
        'description': '<p>Centered align cluster</p>',
        'markup': '<div class="cluster cluster--center">
	<div>Cluster item</div>
	<div>Cluster item</div>
	<a class="button" href="#">Cluster item</a>
</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Cluster end',
        'description': '<p>Align items to the end.</p>',
        'markup': '<div class="cluster cluster--end">
	<div>Cluster item</div>
	<div>Cluster item</div>
	<a class="button" href="#">Cluster item</a>
</div>'
    } only %}
</div>


<div class="styleguide-section">
    <div class="sg-h2">Max</div>
    <div class="sg-description" style="margin-bottom: 2vw;">
        <p>Spanning max 3 columns based on 12 columns and based on the <code>$site-width</code> variable, not based on
            100% design width.</p>
        <p>For example: <code>max:6</code> is only 50% wide when the viewport has reached the <code>$site-width</code>
            width. When the screen is smaller, <code>max:6</code> stays half the wifth of the <code>$site-width</code>
            variable.</p>
    </div>
    {% include '_partials/item.twig' with {
        'title': 'Max 3',
        'description': '',
        'markup': '<div class="max:3">Example</div>'
    } only %}
    {% include '_partials/item.twig' with {
        'title': 'Max 4',
        'description': '',
        'markup': '<div class="max:4">Example</div>'
    } only %}
    {% include '_partials/item.twig' with {
        'title': 'Max 5',
        'description': '',
        'markup': '<div class="max:5">Example</div>'
    } only %}
    {% include '_partials/item.twig' with {
        'title': 'Max 6',
        'description': '',
        'markup': '<div class="max:6">Example</div>'
    } only %}
    {% include '_partials/item.twig' with {
        'title': 'Max 8',
        'description': '',
        'markup': '<div class="max:8">Example</div>'
    } only %}
    {% include '_partials/item.twig' with {
        'title': 'Max 10',
        'description': '',
        'markup': '<div class="max:10">Example</div>'
    } only %}
    {% include '_partials/item.twig' with {
        'title': 'Max narrow',
        'description': 'As wide as the <code>$narrow-width</code> variable',
        'markup': '<div class="max:narrow">Example</div>'
    } only %}
    {% include '_partials/item.twig' with {
        'title': 'Max content',
        'description': 'As wide as the <code>$content-width</code> variable',
        'markup': '<div class="max:content">Example</div>'
    } only %}
    {% include '_partials/item.twig' with {
        'title': 'Max center',
        'description': 'Center align the max container when used outside of stack--center.',
        'markup': '<div class="max:4 max--center">Example</div>'
    } only %}
</div>


<div class="styleguide-section">
    <div class="sg-h2">Shift</div>
    {% include '_partials/item.twig' with {
        'title': 'Shift 3',
        'description': '',
        'markup': '<div class="shift:3">Example</div>'
    } only %}
</div>
