{% include '_partials/intro.twig' with  {
    'title': 'Utilities',
    'description': 'Classes that mostly do just one thing.'
} only %}

<div class="styleguide-section">
    <div class="sg-h2">Margin</div>

    {% include '_partials/item.twig' with {
        'title': 'margin-top:auto',
        'description': 'Auto margin top',
        'markup': false,
        'class': 'margin-top:auto'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'margin-top:none',
        'description': 'No margin top',
        'markup': false,
        'class': 'margin-top:none'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'margin-top:ms-4',
        'description': 'Margin top using Modular scale of -4',
        'markup': '<div class="margin-top:ms-4">Example</div>',
        'class': 'margin-top:ms-4',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'margin-top:ms-3',
        'description': 'Margin top using Modular scale of -3',
        'markup': '<div class="margin-top:ms-3">Example</div>',
        'class': 'margin-top:ms-3',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'margin-top:ms-2',
        'description': 'Margin top using Modular scale of -2',
        'markup': '<div class="margin-top:ms-2">Example</div>',
        'class': 'margin-top:ms-2',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'margin-top:ms-1',
        'description': 'Margin top using Modular scale of -1',
        'markup': '<div class="margin-top:ms-1">Example</div>',
        'class': 'margin-top:ms-1',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'margin-top:ms0',
        'description': 'Margin top using Modular scale of 0',
        'markup': '<div class="margin-top:ms0">Example</div>',
        'class': 'margin-top:ms0',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'margin-top:ms1',
        'description': 'Margin top using Modular scale of 1',
        'markup': '<div class="margin-top:ms1">Example</div>',
        'class': 'margin-top:ms1',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'margin-top:ms2',
        'description': 'Margin top using Modular scale of 2',
        'markup': '<div class="margin-top:ms2">Example</div>',
        'class': 'margin-top:ms2',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'margin-top:ms3',
        'description': 'Margin top using Modular scale of 3',
        'markup': '<div class="margin-top:ms3">Example</div>',
        'class': 'margin-top:ms3',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'margin-top:ms4',
        'description': 'Margin top using Modular scale of 4',
        'markup': '<div class="margin-top:ms4">Example</div>',
        'class': 'margin-top:ms4',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}
</div>


<div class="styleguide-section">
    <div class="sg-h2">Padding</div>

    {% include '_partials/item.twig' with {
        'title': 'padding',
        'description': 'Sets a responsive (modular scale 0) padding on all sides of an element',
        'markup': '<div class="padding">Example</div>',
        'class': 'padding',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'padding-top:none',
        'description': 'No padding top',
        'markup': false,
        'class': 'padding-top:none'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'padding-top:ms-4',
        'description': 'Padding top using Modular scale of -4',
        'markup': '<div class="padding-top:ms-4">Example</div>',
        'class': 'padding-top:ms-4',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'padding-top:ms-3',
        'description': 'Padding top using Modular scale of -3',
        'markup': '<div class="padding-top:ms-3">Example</div>',
        'class': 'padding-top:ms-3',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'padding-top:ms-2',
        'description': 'Padding top using Modular scale of -2',
        'markup': '<div class="padding-top:ms-2">Example</div>',
        'class': 'padding-top:ms-2',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'padding-top:ms-1',
        'description': 'Padding top using Modular scale of -1',
        'markup': '<div class="padding-top:ms-1">Example</div>',
        'class': 'padding-top:ms-1',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'padding-top:ms0',
        'description': 'Padding top using Modular scale of 0',
        'markup': '<div class="padding-top:ms0">Example</div>',
        'class': 'padding-top:ms0',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'padding-top:ms1',
        'description': 'Padding top using Modular scale of 1',
        'markup': '<div class="padding-top:ms1">Example</div>',
        'class': 'padding-top:ms1',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'padding-top:ms2',
        'description': 'Padding top using Modular scale of 2',
        'markup': '<div class="padding-top:ms2">Example</div>',
        'class': 'padding-top:ms2',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'padding-top:ms3',
        'description': 'Padding top using Modular scale of 3',
        'markup': '<div class="padding-top:ms3">Example</div>',
        'class': 'padding-top:ms3',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'padding-top:ms4',
        'description': 'Padding top using Modular scale of 4',
        'markup': '<div class="padding-top:ms4">Example</div>',
        'class': 'padding-top:ms4',
        'wrapInside': '<div class="enlighten">...</div>'
    } only %}
</div>


<div class="styleguide-section">
    <div class="sg-h2">Position</div>

    {% include '_partials/item.twig' with {
        'title': 'Relative',
        'description': 'Add <code>position: relative</code>',
        'markup': false,
        'class': 'position:relative'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Absolute',
        'description': 'Add <code>position: absolute</code>',
        'markup': false,
        'class': 'position:absolute'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Static',
        'description': 'Add <code>position: static</code>',
        'markup': false,
        'class': 'position:static'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Z-index 1',
        'description': 'Add <code>z-index: 1</code>',
        'markup': false,
        'class': 'z-index:1'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Z-index 2',
        'description': 'Add <code>z-index: 2</code>',
        'markup': false,
        'class': 'z-index:2'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'Z-index 3',
        'description': 'Add <code>z-index: 3</code>',
        'markup': false,
        'class': 'z-index:3'
    } only %}

</div>


<div class="styleguide-section">
    <div class="sg-h2">Ratio</div>

    {% include '_partials/item.twig' with {
        'title': 'ratio:16:9',
        'description': '',
        'markup': '<div class="ratio:16:9">Example</div>',
        'class': 'ratio:16:9'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'ratio:5:2',
        'description': '',
        'markup': '<div class="ratio:5:2">Example</div>',
        'class': 'ratio:5:2'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'ratio:4:3',
        'description': '',
        'markup': '<div class="ratio:4:3">Example</div>',
        'class': 'ratio:4:3'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'ratio:3:2',
        'description': '',
        'markup': '<div class="ratio:3:2">Example</div>',
        'class': 'ratio:3:2'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'ratio:1:1',
        'description': '',
        'markup': '<div class="ratio:1:1">Example</div>',
        'class': 'ratio:1:1'
    } only %}
</div>


<div class="styleguide-section">
    <div class="sg-h2">Visibility</div>

    {% include '_partials/item.twig' with {
        'title': 'visually:hidden',
        'description': 'Hides an element visually while keeping it readable for screenreaders and search engines',
        'markup': false,
        'class': 'visually:hidden'
    } only %}

    {% include '_partials/item.twig' with {
        'title': 'overflow:hidden',
        'description': 'Hides overflowing content',
        'markup': false,
        'class': 'overflow:hidden'
    } only %}
</div>
