// Color
// ==========================================================================

$example1: #277CB4;
$example1-type: #fff;
$example2: #C75000;
$example2-type: #fff;
$example3: #1E8549;
$example3-type: #fff;
$example3-light: #8dd9ad;
$example3-light-type: #253621;

$support1: #8e44ad;
$support1-type: #fff;
$support2: #c0392b;
$support2-type: #fff;

$neutral1: #34495e;
$neutral1-type: #fff;
$neutral2: #bdc3c7;
$neutral2-type: #000;


