/* ==========================================================================
   Margin
   ========================================================================== */

.margin-top\:auto {
  margin-top: auto;
}

.margin-top\:none {
  margin-top: 0;
}

.margin-top\:ms-4 {
  margin-top: ms(-4);
}

.margin-top\:ms-3 {
  margin-top: ms(-3);
}

.margin-top\:ms-2 {
  margin-top: ms(-2);
}

.margin-top\:ms-1 {
  margin-top: ms(-1);
}

.margin-top\:ms0 {
  margin-top: ms(0);
}

.margin-top\:ms1 {
  margin-top: ms(1);
}

.margin-top\:ms2 {
  margin-top: ms(2);
}

.margin-top\:ms3 {
  margin-top: ms(3);
}

.margin-top\:ms4 {
  margin-top: ms(4);
}

.margin-top\:ms-1 {
  margin-top: ms(-1);
}
