/* ==========================================================================
   Typography
   ========================================================================== */

/* Font size
   ========================================================================== */

.font-size\:xl {
  @include font-size("xl");
}

.font-size\:l {
  @include font-size("l");
}

.font-size\:m {
  @include font-size("m");
}

.font-size\:s {
  @include font-size("s");
}

.font-size\:xs {
  @include font-size("xs");
}


/* Font weight
   ========================================================================== */

.font-weight\:normal {
  font-weight: $weight-normal;
}

.font-weight\:bold {
  font-weight: $weight-bold;
}


/* Alignment
   ========================================================================== */

.text-align\:center {
  text-align: center;
}

.text-align\:right {
  text-align: right;
}

.text-align\:left {
  text-align: left;
}

.balance-text {
  text-wrap: balance;  /* Proposed CSS style, JS polyfill in place currently */
}


/* Style
   ========================================================================== */

.italic {
  font-style: italic;
}

.nowrap {
  white-space: nowrap;
}

.ellipsis\:2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
