/* ==========================================================================
   Widths
   ========================================================================== */

.width\:narrow {
  max-width: $narrow-width;
}

.width\:content {
  max-width: $content-width;
}

.width\:wider {
  max-width: $wider-width;
}
